version: "3.8"
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.9.0
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"

  tika:
    image: apache/tika:2.9.2.0   # <— tag válida (ou usa apache/tika:latest)
    ports:
      - "9998:9998"
    environment:
      - JAVA_OPTS=-Xms512m -Xmx512m

volumes:
  esdata:
